<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <directoryServerList>
        <address>localhost</address>
        <nodesManagementPort>1234</nodesManagementPort>
        <clientConnectionPort>4321</clientConnectionPort>
        <synchronizationPort>3421</synchronizationPort>
    </directoryServerList>
    <directoryServerList>
        <address>localhost</address>
        <nodesManagementPort>4321</nodesManagementPort>
        <clientConnectionPort>23</clientConnectionPort>
        <synchronizationPort>4</synchronizationPort>
    </directoryServerList>
</config>
